<footer id="footer">
  <div class="outer">
    <div id="footer-info" class="inner">
      &copy; <%= date(new Date(), 'YYYY') %> <a href="mailto:orion6sky@gmail.com?subject=Contact from blog">66beta</a><br>Powered by <a href="http://hexo.io/" target="_blank">Hexo</a> & <a href="https://github.com" target="_blank">Github</a>
    </div>
  </div>
</footer>
